<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12">
      <div class="forms">

        <form [formGroup]='fileUploadForm'
          (ngSubmit)="fileUploadForm.valid && onSubmit()">

          <div class="row form-f">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [formControl]='fileUploadForm.controls["name"]'
                  placeholder="type your name">
              </mat-form-field>
            </div>
          </div>

          <div class="row form-f">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <ngx-mat-file-input [formControl]='fileUploadForm.controls["image"]' accept="image/*"
                  color="primary">
                  <mat-icon ngxMatFileInputIcon>image</mat-icon>
                  <mat-hint>Your Image</mat-hint>
                </ngx-mat-file-input>
              </mat-form-field>
            </div>
          </div>

          <div class="row form-f">
            <div class="col-md-6">
              <app-image-uploade
              [formControl]='fileUploadForm.controls["imageUpload"]'
              [label]='"Select Image"'></app-image-uploade>
            </div>
          </div>

          <div class="row form-f">
            <div class="col-md-6">
              <div class="buttons">
                <button mat-raised-button type="submit" color="primary">Save</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
