<div class="container-fluid">
  <div class="container">
    <div class="row content">
      <div class="col-md-4  mat-elevation-z8">
        <div class="row">
          <mat-card>
            <div class="header">
              <div class="row">
                <div class="title">
                  <h1>SANALUZMAN</h1>
                </div>
                <div class="image">
                  <img src="/assets/img/corPaySS1.jpg" alt="alt-image">
                </div>
              </div>

            </div>

            <mat-card-content>

              <div class="row body ">
                <div class="col-md-10 ">

                  <form [formGroup]='loginForm'
                    (ngSubmit)="loginForm.valid && onSubmit()">

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width"
                          appearance="outline">
                          <mat-label>User Name</mat-label>
                          <input matInput
                            [formControl]='loginForm.controls["userName"]'
                            placeholder="type user name">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width"
                          appearance="outline">
                          <mat-label>Enter your password</mat-label>
                          <input matInput
                            [formControl]='loginForm.controls["password"]'
                            [type]="hide ? 'password' : 'text'">
                          <button mat-icon-button matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="buttons">
                          <button mat-raised-button class="example-full-width"
                            type="submit" color="primary">

                            <div *ngIf="!isLoading">Sign In</div>

                            <div *ngIf="isLoading" class="center">
                              <mat-progress-spinner style="margin:0 auto;" [strokeWidth]="5" [diameter]="33" class="example-margin"
                                [color]="color" [mode]="mode" [value]="value">
                              </mat-progress-spinner>
                            </div>

                          </button>


                        </div>

                        <div class="buttons">
                          <button mat-raised-button class="example-full-width"
                            type="button" color="accent">Sing Up</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
