<mat-toolbar color="primary">
  <span>Image File Upload</span> &nbsp; &nbsp; &nbsp;
    <div fxShow="true" fxHide.lt-md="true" fxFlex fxLayout>
    <a routerLinkActive="active" routerLink="/home"    mat-button><span>Home</span></a>
    <a routerLinkActive="active" routerLink="/dashboard"   mat-button><span>Dashboard</span></a>
    <a routerLinkActive="active" routerLink="/home" mat-button><span>Contact</span></a>
  </div>


  <span class="example-spacer"></span>

  <div fxShow="true" fxFlex fxLayout>
    <a routerLinkActive="active" (click)="onLogout()"  mat-button><span>Logout</span></a>
  </div>
  <div fxShow="true" fxFlex fxLayout>
    <a routerLinkActive="active" (click)="onCreate()"  mat-button><span>Sign Up</span></a>
  </div>

</mat-toolbar>
