<div class="main-content">
  <div class="container-fluid">
    <div class="row">






      <div class="row ">
        <div class="content col-md-12 ">

          <div class="uploadForm mat-elevation-z8 col-md-12">
            <form [formGroup]='fileUploadForm'
              (ngSubmit)="fileUploadForm.valid && onSubmit()">

              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width"
                    appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name"
                      placeholder="type your name">
                  </mat-form-field>
                </div>


                <div class=" col-md-8">
                  <mat-form-field class="example-full-width"
                    appearance="outline">
                    <ngx-mat-file-input formControlName="image" accept="image/*"
                      color="primary">
                      <mat-icon ngxMatFileInputIcon>image</mat-icon>
                      <mat-hint>Your Image</mat-hint>
                    </ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-8">
                  <div class="buttons">
                    <button mat-raised-button type="submit" color="primary">Save
                      image</button>
                  </div>
                </div>
              </div>


            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
